body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #e0e0e0;
}
header {
    background-color: rosybrown;
}
footer {
    background-color: rosybrown;
}
.container {
    height: 100%;
    width: 100%;
}
.hotel-card {
    margin: 2%;
    background-color: rgb(132,136,139);
    width: 40%;
}
.logo-img {
    height: 60px;
    width: 60px;
}
.hotel-img {
    height: 200px;
    width: 250px;
}
.social-media-img {
    height: 20px;
    width: 22px;
}