body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #e0e0e0;
}
header {
    background-color: rosybrown;
}
footer {
    background-color: rosybrown;
}
.logo-img {
    height: 60px;
    width: 60px;
}
.container {
    height: 100%;
    width: 100%;
}
.hotel-card {
    background-color: rgb(132, 136, 139);
    width: 50%;
    height: 20%;
    margin: 2% auto;
}
.customer-details {
    margin: 2%;
}
.tariff-details {
    margin: 2%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1% 2%;
}
.social-media-img {
    height: 20px;
    width: 22px;
}
.hotel-img img {
    height: 500px;
    width: 500px;
}